# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -  id: check-yaml
    -  id: check-toml
    -  id: end-of-file-fixer
    -  id: trailing-whitespace
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    - id: isort
-   repo: https://github.com/ambv/black
    rev: 24.2.0
    hooks:
    - id: black
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
