[tool.poetry]
name = "airsenal"
version = "1.5.2"
description = "AI manager for Fantasy Premier League"
authors = [
	"Angus Williams <anguswilliams91@gmail.com>",
	"Jack Roberts <jroberts@turing.ac.uk>",
	"Nick Barlow <nbarlow@turing.ac.uk>",
]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
bpl = { git = "https://github.com/anguswilliams91/bpl-next", branch = "main" }
click = "^8.1.2"
pandas = "^1.4.2"
requests = "^2.27.1"
sqlalchemy = "^1.4.35"
tqdm = "^4.64.0"
dateparser = "^1.1.1"
prettytable = "^3.3.0"
beautifulsoup4 = "^4.11.1"
platformdirs = "^2.5.2"
jupyter = {version = "^1.0.0", optional = true}
matplotlib = {version = "^3.5.2", optional = true}
Flask = {version = "^2.1.2", optional = true}
numpyro = {version = "^0.9.2", optional = true}
seaborn = {version = "^0.11.2", optional = true}
python-dateutil = "^2.8.2"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
isort = "^5.10.1"
flake8 = "^4.0.1"
pre-commit = "^2.19.0"
pytest = "^7.1.2"

[tool.poetry.extras]
api = ["Flask"]
notebook = ["jupyter"]
plot = ["matplotlib", "seaborn"]

[build-system]
requires = ["poetry-core>=1.0.0", "cython", "numpy", "setuptools"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
airsenal_setup_initial_db = "airsenal.scripts.fill_db_init:main"
airsenal_update_db = "airsenal.scripts.update_db:main"
airsenal_plot = "airsenal.scripts.plot_league_standings:main"
airsenal_scrape_tm = "airsenal.scripts.scrape_transfermarkt:main"
airsenal_run_prediction = "airsenal.scripts.fill_predictedscore_table:main"
airsenal_run_optimization = "airsenal.scripts.fill_transfersuggestion_table:main"
airsenal_make_squad = "airsenal.scripts.squad_builder:main"
airsenal_check_data = "airsenal.scripts.data_sanity_checks:run_all_checks"
airsenal_dump_db = "airsenal.scripts.dump_db_contents:main"
airsenal_run_pipeline = "airsenal.scripts.airsenal_run_pipeline:run_pipeline"
airsenal_replay_season = "airsenal.scripts.replay_season:main"
airsenal_make_transfers = "airsenal.scripts.make_transfers:main"
airsenal_set_lineup = "airsenal.scripts.set_lineup:main"
airsenal_env = "airsenal.scripts.set_env:main"
