tqdm>=v4.29.1
black
flake8
pandas
sqlalchemy
requests
dateparser
matplotlib
scipy
pip
pystan~=2.19.1.1
pytest
bpl==0.1.1
bpl @ git+https://github.com/anguswilliams91/bpl@5c5962c#egg=bpl
flask
flask_cors
flask_session
jupyter
seaborn
click>=7.1.2
